.grid-container {
    display: grid;
    background-color: rgb(41, 74, 112);
    padding: -5px;
    border-left: 5px solid rgb(41, 74, 112);
    border-right: 5px solid rgb(41, 74, 112);
    border-bottom: 5px solid rgb(41, 74, 112);
    height: 95%;
    margin-right: -9px;
    border-radius: 30px 30px 0px 0px;
}

    .grid-container > div {
        font-family: sans-serif;
        padding: 20px;
        font-size: 60px;
    }

.grid-container2 {
    display: grid;
    grid-gap: 50px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-width: 10px;
}

.item1 {
    background-color: rgb(41, 74, 112, 0);
    color: lightblue;
    text-align: center;
    height: 60px;
    margin-top: 10px
}




form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 300;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: center;
}

button {
    background-color: olive;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}

    button:hover {
        opacity: 0.8;
    }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}